@import "../variables/index.scss";

.context-menu-wrapper {
    background-color: $background-color-light;

    color: $text-color-normal-light;
}

.context-menu-wrapper > h2 {
    // border-radius: 100px;
    padding: 0.5rem 1rem;
    margin: 15px 10px 10px 0px;
    font-size: 1rem;
    border-bottom: 3px solid $accent-color-light-n2;
    // background-color: $accent-color-light-n2;
}

@media (prefers-color-scheme: dark) {
    .context-menu-wrapper {
        background-color: $background-color-dark;
        color: $text-color-normal-dark;
    }

    .context-menu-wrapper > h2 {
        border-color: $accent-color-dark-n1;
    }
}