.context-menu-wrapper {
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(56, 138, 206);
    margin-top: 10px;
    border-radius: 0px 20px 0px 0px;
    padding: 1rem;
}