.header-wrapper, .header-iconset {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-wrapper {
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.33);
}

.header-wrapper > h1 {
    font-size: 1.5rem;
}

.header-iconset {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    padding: 0.3rem;
}