.header-wrapper, .header-iconset {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-wrapper {
    justify-content: space-between;
    padding: 1rem;
    /* box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.33); */
    /* background-color: #f3f6fc; */
}

.header-wrapper::before {
    content: "";
    top: 0;
    left: 25%;
    width: 50%;
    height: 82px;
    position: absolute;
    /* background: linear-gradient(90deg,rgba(255,255,255,1) 0%, rgba(0,212,255,0) 50%, rgba(255,255,255,1) 100%),
                url("https://source.unsplash.com/random/1920x1080/?community"); */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10
}

.header-wrapper > h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #333333;
}

.header-iconset {
    /* background-color: rgba(203, 240, 248, 0.7); */
    border-radius: 100px;
    padding: 0.3rem;
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(203, 240, 248); */
    gap: 10px;
}

.profile-button-set {
    background-color: rgba(203, 240, 248, 1);
    border-radius: 100px;
}