@import "../variables/index.scss";

.card-grid {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    align-items: top;
    gap: 10px;
    padding: 15px;
    overflow: auto;
    border-radius: 15px;
}

.date-value {
    width: 100%;
    text-align: end;
    font-size: .7rem;
    color: $text-color-disabled-light;
}

.date-news-position {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.news-card {
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid rgba($color: #000, $alpha: .1);
    position: relative;

    img {
        width: 150px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-content {
        padding: 0px 20px 20px 20px;
    }
}

.news-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.329);
}

.card-content>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.news-card-content-text {
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

@media (prefers-color-scheme: dark) {
    .news-card {
        background-color: $background-color-dark;
        border: $border-top-dark;
        color: $text-color-normal-dark;
    }

    .news-card:hover {
        box-shadow: 0px 0px 5px rgba(138, 138, 255, 0.494);
    }
}

