

.custom-text-area {
    padding: 10px;
    height: 10rem;
    background-color: $background-color-light-n1;
    border: 1px dashed #555555;
    border-radius: 10px;
}

.activities-card-content-text {
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}


@media (prefers-color-scheme: dark) {
    .custom-text-area {

        background-color: #222222;
        border: 1px dashed #555555;
    }
}
