.content-layout {
  width: 100dvw;
  height: 100%;

  display: grid;
  grid:
    "sidebar body" 1fr
    / auto 1fr;
  gap: 0px;
}
  
.sidebar {
  grid-area: sidebar;
  padding: 10px 0px;
}

.body {
  grid-area: body;
  /* background-color: rgba(255, 0, 0, 0.137); */
  margin: 10px 10px 0px 10px;
  overflow: scroll;
}
  