.calendar-container {
    // display: flex;
    // flex-direction: row;

    // max-height: calc(100dvh - 8rem);
    height: 100%;
    padding: 15px;
    overflow-y: auto;
    // border: 1px solid blue;
    
}