@import "../variables/index.scss";

.content-layout {
  display: flex;
  background-color: $background-color-light;
}

.sidebar {
  // grid-area: sidebar;
  // height: calc(100dvh - 9rem)
  width: 300px;
}

.main-content {
  // grid-area: main-content;
  max-height: calc(100dvh - 7rem);
  width: 100%;
}


@media (prefers-color-scheme: dark) {
  .content-layout {
    background-color: $background-color-dark;
  }
}
  