.guest-header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: rgba($color: #ffffff, $alpha: .6);
    height: 3rem;
    margin: 20px;
    border-radius: 1.5rem;
    padding: .5rem;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 10px rgba($color: rgb(0, 0, 0), $alpha: .3);
    gap: 15px;
    max-width: 1500px;

    > div {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}



@media (prefers-color-scheme: dark) {
    .guest-header-wrapper {

        background-color: rgba($color: #000000, $alpha: .6);
    }
}
