
.guest-content-wrapper {
    overflow-y: hidden;
}

.guest-card {
    background-color: rgba($color: #ffffff, $alpha: .3);
    backdrop-filter: blur(15px);
    border-radius: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
}

.guest-card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    margin: 10px 15px 0px 15px;
    >h1 {
        font-size: 1.2rem;
    }
}

.guest-card-content {
    display: flex;
    flex-direction: column;
    max-height: calc(100dvh - 10rem);
    overflow: auto;
    gap: 10px;
    border-radius: 15px;
    padding: 10px 15px 5px 15px;
    margin-bottom: 10px;
}


.news-card-guest {
    display: flex;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 15px;
    padding: 5px;
    position: relative;

    img {
        width: 100px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-content {
        padding: 0px 20px 20px 20px;

        >h2 {
            font-size: 1rem
        }

        >p {
            font-size: 1rem;
        }
    }
}


.activities-card-guest {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 15px;
    padding: 10px;
    position: relative;
    gap: 10px;
    >h2 {
        font-size: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }
    >div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .card-content {
        padding: 0px 20px 20px 20px;
        
    }
}

.activities-card-guest:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.329);
}

.news-card-guest:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.329);
}

.card-content>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.news-card-guest-content-text {
    text-align: justify;
    display: -webkit-box;
    font-size: .9rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.guest-helper-text {
    color: rgba(0, 0, 0, 0.6);
}

.date-value-guest {
    width: 100%;
    text-align: end;
    font-size: .7rem;
    color: #555555;
}

.guest-directive-info {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    >p {
        color: rgba(0, 0, 0, 0.69)
    }
}


@media (prefers-color-scheme: dark) {

    .guest-card {
        background-color: rgba($color: #000000, $alpha: .3);
    }
    .news-card-guest {
        background-color: rgba($color: #000000, $alpha: .5);
        // background-color: $background-color-dark-blur;
        border-top: $border-top-dark;
        color: $text-color-normal-dark;
    }

    .guest-helper-text {
        color: rgba(255, 255, 255, 0.6);
    }

    .activities-card-guest {
        background-color: $background-color-dark-blur;
        background-color: rgba($color: #000000, $alpha: .5);
    }

    .guest-directive-info {
        border-top: 1px solid rgba(255, 255, 255, 0.3);

        >p {
            color: rgba(255, 255, 255, 0.69)
        }
    }
}